.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: var(--navFont);
  font-size: 2em;
  color: var(--darkGrey);
}

.comingSoon svg {
  margin-top: 1em;
  height: 75px !important;
  width: 75px !important;
}