.post-container {
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 5.125rem;
  height: calc(100% - 5.125rem);
  width: 100%;
}

.post-container > .post-details {
  font-family: var(--bodyFont);
}

.post-container > .post-details h1 {
  font-size: 2.827rem;
}

.post-container > .post-details span {
  font-size: 1rem;
  font-weight: lighter;
}

.post-content {
  margin: 0 auto;
  text-align: left;
  padding: 1em 0;
  max-width: 550px;

  font-family: var(--bodyFont);
  color: var(--darkGrey);
}

.post-content h1, 
.post-content h2, 
.post-content h3, 
.post-content h4 {
  margin: 0.5rem 0;
  font-weight: inherit;
  line-height: 1.2;
}

.post-content h1 {
  font-size: 2.827rem;
  margin-bottom: 0;
}

.post-content h2 {
  font-size: 1.999rem;
  font-weight: 300;
}

.post-content h3 {
  font-size: 1.414rem;
  font-weight: 200;
}

.post-content h4 {
  font-size: 1rem;
  font-weight: 100;
}

.post-content small {
  font-size: 0.707rem;
}

.post-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.post-content ul, ol {
  list-style: inside;
  margin-bottom: 1rem;
}

.post-content pre {
  white-space: pre-wrap;       
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;     
  white-space: -o-pre-wrap;   
  word-wrap: break-word;      
}
