/***** Constants *****/

:root {
  /***** Tokens *****/
  --white: #fff;
  --black: #000;
  --grey: #333;
  --light-grey: #666;
  --light-green: #8be5dc;
  --green: #26a69a;
  --dark-green: #0b322e;
  --light-red: #f4cdd1;
  --red: #d95965;
  --dark-red: #741a23;
  --light-alt-green: #faf3dd;
  --alt-green: ##2a9d8f;
  --dark-alt-green: #f4a261;

  /***** Fonts *****/
  --official-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', 'geneva', 'verdana', sans-serif;
  --nav-font: palatino, sans-serif;
  --body-font: helvetica neue, sans-serif;

  /****** Fontawesome Icon Sizes *******/
  --icon-2xs: 0.625rem;
  --icon-xs: 0.75rem;
  --icon-sm: 0.875rem;
  --icon-md: 1rem;
  --icon-lg: 1.25rem;
  --icon-xl: 1.5rem;
  --icon-2xl: 2rem;

  /****** Blending *******/
  --blend-mode: exclusion;
}
