.controls {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}

.btn-control {
  border: none;
  box-shadow: none;
  background: white;
  mix-blend-mode: exclusion;
  padding: 0.7rem 0.8rem;
  border-radius: 50%;
}

.btn-control:hover {
  cursor: pointer;
}

