/***** Constants *****/

:root {
  /***** COLORS *****/

  --primary: #26a69a;
  --dark: #0b322e;
  --light-dark: #5c706e;
  --light-grey: #b8b8b8;
  --light-primary: #e3fffc;
  --primary-hite: #f7fafa;
  --dark-grey: #333;
  --grey: #777;
  --white: #fff;
  --red: rgb(166 38 38);

  /***** Fonts *****/

  --fancy-font: 'Stalemate', cursive;
  --official-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
  --nav-font: palatino, sans-serif;
  --body-font: helvetica neue, sans-serif;
}

/***** Main *****/

#root {
  width: 100%;
  height: 100%;
  position: relative;
}
