/***** Constants *****/

:root {
  /***** COLORS *****/

  --primary: #26a69a;
  --dark: #0b322e;
  --light-dark: #5c706e;
  --light-grey: #b8b8b8;
  --light-primary: #e3fffc;
  --primary-hite: #f7fafa;
  --dark-grey: #333;
  --grey: #777;
  --white: #fff;
  --red: rgb(166 38 38);

  /***** Fonts *****/

  --accent-font: 'Stalemate', cursive;
  --nav-font: palatino, sans-serif;
  --body-font: helvetica neue, sans-serif;
}

/***** Main *****/

#app {
  width: 100%;
  height: 100%;
}

/***** Animations *****/

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
